body {
  font-family: "Noto Sans TC", sans-serif;
  background: #6f9eaf;
  display: block;
  padding: 50px 70px;
  margin: 30px auto;
  max-width: 880px;
  border: 3px solid #a9294f;
  border-radius: 12px;
}

h1 {
  color: #ebcfc4;
}

hr {
  margin-top: -37px;
}

form {
  margin-top: 20px;
}

ul {
  padding-left: 0px;
  color: #ffbd69;
}

li {
  list-style: none;
}

img {
  display: block;
  position: relative;
  left: -16px;
}

a {
  color: #ffbd69;
}

.emoji {
  font-size: 35px;
}

.link {
  color: #ffbd69;
  padding-left: 17px;
  font-size: 10px;
}
.col-auto {
  margin-top: 50px;
}
.card {
  background-color: #839b97;
}
